<ul class="listview">
<% @stores.each do |store| %>
  <li>
    <a href="<%= url_for store %>">
      <%= image_tag store.photo.url(:small) %>
      <h2><%= store.name %></h2>
      <p>Address: <%= store.address %></p>
      <p>Tel: <%= store.tel %> Hours: <%= store.hours %> Manager: <%= store.user %></p>
      <div class="ui-li-count"><%= store.dishes.count %></div>
    </a>
  </li>
<% end %>
</ul>

<br />
<% if can? :create, Store %> 
<%= link_to 'Register Your Store', new_store_path, 'class'=>'inline' %>
<% end %>

