<p id="notice"><%= notice %></p>

<%= image_tag @store.photo.url %>
<h3><%= @store.name %></h3>
<p>Address: <%= @store.address %>, <%= @store.city %>, <%= @store.state %> <%= @store.zip %>, <%= @store.country %></p>
<p>Tel: <%= @store.tel %> Hours: <%= @store.hours %> Manager: <%= @store.user %></p>


<ul class="listview">
<% @store.dishes.each do |dish| %>
  <li>
    <a href="<%= store_dish_path(@store, dish) %>">
      <%= image_tag dish.photo.url(:small) %>
      <h3><%= dish.name %></h3>
      <p><%= dish.detail %></p>
      <p>Spicy: <%= dish.spicy %> Veggie: <%= dish.veggie %></p>
    </a>
    <% if can? :create, Item %>
      <a href="<%= order_items_path(current_order, :dish_id => dish) %>">
        Add to Cart
      </a>
    <% end %>
  </li>
<% end %>
</ul>

<% if can? :edit, @store %>
  <%= link_to 'Edit Store', edit_store_path(@store), 'class'=>'inline' %>
  <%= link_to 'New Dish', new_store_dish_path(@store), 'class'=>'inline' %>
<% end %>
