<p id="notice"><%= notice %></p>

<%= image_tag @store.photo.url %>
<h3><%= @store.name %></h3>
<p>Address: <%= @store.address %>, <%= @store.city %>, <%= @store.state %> <%= @store.zip %>, <%= @store.country %></p>
<p>Tel: <%= @store.tel %> Hours: <%= @store.hours %> Manager: <%= @store.user %></p>


<ul data-role="listview" data-inset="true">
<% @store.dishes.each do |dish| %>
  <li>
    <a href="<%= url_for dish %>">
      <%= image_tag dish.photo.url(:small) %>
      <h3><%= dish.name %></h3>
      <p><%= dish.detail %></p>
      <p>Spicy: <%= dish.spicy %> Veggie: <%= dish.veggie %>
    </a>
    <a href="<%= url_for order_items_path(current_order, :dish_id => dish) %>"
      Add to Cart
    </a>
  </li>
<% end %>
</ul>

<!--table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th>Detail</th>
    <th>Note</th>
    <th>Available</th>
    <th>Spicy</th>
    <th>Veggie</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @store.dishes.each do |dish| %>
  <tr>
    <td><%= dish.name %></td>
    <td><%= dish.picture %></td>
    <td><%= dish.detail %></td>
    <td><%= dish.note %></td>
    <td><%= dish.available %></td>
    <td><%= dish.spicy %></td>
    <td><%= dish.veggie %></td>
    <td><%= dish.price %></td>
    <td><%= link_to 'Show', [@store, dish] %>
		<% if can? :update, dish %>
    	<%= link_to 'Edit', edit_store_dish_path(@store, dish) %>
    <% end %>
    <% if can? :destroy, dish %>
    	<%= link_to 'Destroy', store_dish_path(@store, dish), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <% if can? :create, Item %>
    	<%= link_to 'Add to Cart', order_items_path(current_order, :dish_id => dish), :method => :post %>
    <% end %>
    </td>
  </tr>
<% end %>
</table--!>

<br />
<%= link_to 'New Dish', new_store_dish_path(@store) %> |
<%= link_to 'Dish List', store_dishes_path(@store) %> |
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
