<p id="notice"><%= notice %></p>

<%= image_tag @dish.photo.url %>
<p>
  <b>Name:</b>
  <%= @dish.name %>
</p>

<p>
  <b>Picture:</b>
  <%= @dish.picture %>
</p>

<p>
  <b>Detail:</b>
  <%= @dish.detail %>
</p>

<p>
  <b>Note:</b>
  <%= @dish.note %>
</p>

<p>
  <b>Available:</b>
  <%= @dish.available %>
</p>

<p>
  <b>Spicy:</b>
  <%= @dish.spicy %>
</p>

<p>
  <b>Veggie:</b>
  <%= @dish.veggie %>
</p>

<p>
  <b>Price:</b>
  <%= @dish.price %>
</p>

<%= link_to 'Back to Store', @store, 'class'=>'inline' %>
<% if can? :update, @dish %>
  <%= link_to 'Edit', edit_store_dish_path(@store, @dish), 'class'=>'inline' %>
<% end %>
<% if can? :destroy, @dish %>
  <%= link_to 'Destroy', store_dish_path(@store, @dish), :confirm => 'Are you sure?', :method => :delete, 'class'=>'inline' %>
<% end %>
<% if can? :create, Item %>
  <%= link_to 'Add to Cart', order_items_path(current_order, :dish_id => @dish), :method => :post, 'class'=>'inline' %>
<% end %>

