<h1>
	<% if @order.id == current_order.id %>
		Your cart detail:
	<% else %>
		Your order detail:
	<% end %>
</h1>

<ul class="listview inset">
<% @items.each do |item| %>
  <li>
    <a href="#">
      <%= image_tag item.dish.photo.url(:small) %></h3>
      <h3><%= item.dish.name %></h3>
      <p>Status: <%= item.status %></p>
      <p><%= item.price %></p>
    </a>
    <% if can? :destroy, item %>
    	<%= link_to 'Destroy', order_item_path(@order, item), :confirm => 'Are you sure?', :method => :delete, "class"=>"minus" %>
    <% end %>
  </li>
<% end %>

  <li>
    <p>Total: <%= @order.total_price %></p>
  </li>

</table>

</ul>

<% if @order.id == current_order.id %>
		<%= link_to 'Continue shopping', root_url, "class"=>"inline back" %>
		<%= link_to 'Submit', submit_order_path(@order), :confirm => 'Are you sure?', :method => :put, "class"=>"inline" %>
		<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), express_order_path(@order), "class"=>"inline", "rel"=>"external" %>
<% end %>
