<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

  <title>DishPicker</title>
  <%= stylesheet_link_tag "application", "http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" %>
  <%= javascript_include_tag "application", "http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div data-role="page" data-theme="e" class="page">
  	<header>
  	  <a href="/" class="home">Home</a>
      <h1>DishPicker</h1>
  	  <% if current_user %>
        <%= link_to "Logout as "+current_user.name, logout_path %>
      <% else %>
        <%= link_to "Login or Register", login_path, "class"=>"e" %>
      <% end %>
    </header>
    
    <div class="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%= yield %>
    </div>
    
    <footer class="ui-bar">
      <%= link_to "About", page_path("about"), "class"=>"info" %>
      <%= link_to "Help", page_path("help"), "class"=>"info" %>
      <%= link_to "Privacy", page_path("privacy"), "class"=>"info" %>
      <%= link_to "Terms", page_path("terms"), "class"=>"alert" %>
      <%= link_to "@DishPicker", "http://twitter.com/#!/dishpicker", :rel => "external", "class"=>"info" %>

  	  <% if current_user %>
        <% if current_order.items.count > 0 %>
          <%= link_to "Your Cart (" + current_order.items.count.to_s + ")", order_items_path(current_order) %>
        <% end %>
        <%= link_to "Edit Profile", edit_user_path(:current) %>
      <% end %>
    </footer>
  </div>

</body>
</html>
